:root {
    --font-100px: 6.25rem;
    --font-90px: 5.63rem;
    --font-80px: 5rem;
    --font-70px: 4.38rem;
    --font-60px: 3.75rem;
    --font-50px: 3.13rem;
    --font-44px: 2.75rem;
    --font-40px: 2.5rem;
    --font-36px: 2.25rem;
    --font-34px: 2.13rem;
    --font-30px: 1.88rem;
    --font-28px: 1.75rem;
    --font-26px: 1.63rem;
    --font-24px: 1.5rem;
    --font-22px: 1.38rem;
    --font-20px: 1.25rem;
    --font-18px: 1.13rem;
    --font-16px: 1rem;
    --font-14px: 0.88rem;
}



@keyframes scale {
    0% {
        color: #333;
        background: #fff;
    }

    30% {
        color: #fff;
        background: rgba(0, 115, 255, 1);
    }

    60% {
        color: #fff;
        background: rgba(0, 115, 255, 1);
    }

    100% {
       color: #333;
       background: #fff;
    }
}

/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* 보험 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    font-size: 16px;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
    font-weight: 400;
}

button,
input,
select,
textarea {
    font-family: inherit;

}

/* 용도별 폰트 클래스 */
.font-eng {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address {
    font-style: normal;
}

a {
    display: block;
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: top;
}

.hidden {
    display: block;
    position: absolute;
    left: -1000%;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff;
}

#wrap {
    width: 100%;
    overflow-x: hidden;
}

/* skip nav (버로가기 메뉴) */

#skipNav {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 110;
}

#skipNav a {
    height: 1px;
    margin-bottom: -1px;
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

#skipNav a:focus {
    height: auto;
    padding: 15px 0;
    background: var(--font-color-main);
}