/* section1 home */

.section {
    padding-top: 20px;
}


.kakaotalk-app-container {
    width: 70%;
    height: 84vh;
    margin: 0 auto;
    padding-top: 35px;
    display: flex;
    position: relative;
}


.chat-list-panel,
.conversation-panel {
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    transition: all 0.5s ease-in-out;
}


.chat-list-panel .kakakotalk-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    overflow: hidden;
}


.chat-list-panel .kakakotalk-header .header-shortcuts {
    display: flex;
    gap: 10px;
    padding: 10px;
}


.main-title {
    display: flex;
    gap: 10px;
    flex-direction: column;

}

.main-title ul {
    display: flex;
    gap: 20px;
}

.main-title ul li {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #333;
}

.main-title ul li a {
    font-size: var(--font-18px);
    font-weight: 600;
    color: #333;
    padding: 5px 15px;

}

#filter-unread {
    display: flex;
    gap: 10px;
}

.header-title {
    padding: 10px;
    font-size: var(--font-30px);
    font-weight: 600;
}

.header-shortcut-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 15px;
}


.chat-list-panel {
    width: 100%;
}


.chat-item.active {
    background: red;
}


.chat-list {
    width: 100%;
    margin: 0 auto;
}

.chat-list .chat-item {
    width: 100%;
    margin: 0 auto;
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    border-bottom: 1px solid #ccc;
}

.chat-list .chat-item .chat-title {
    font-size: var(--font-20px);
    font-weight: 500;
}

.chat-list .chat-item .chat-preview {
    font-size: var(--font-16px);

}


.chat-list .chat-item:first-of-type {
    border-top: 1px solid #ccc;
    cursor: pointer;
    animation: scale 3s infinite;
}

.chat-list .chat-item:last-of-type {
    border-bottom: transparent;
}


.chat-list .chat-item .chat-left {
    display: flex;
    gap: 10px;
}

.chat-list .chat-item .chat-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-list .chat-item .chat-meta {
    width: 11%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* 숫자 */
#filter-unread .unread-count,
.chat-list .chat-item .chat-meta .unread-count {
    width: 25px;
    height: 25px;
    padding: 4px 5px 8px;
    border-radius: 50%;
    color: #fff;
    font-size: var(--font-16px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-7main);
}

/* 이미지 */
.chat-list .chat-item .avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: var(--color-sub1);
}


/* 채팅 얼였을때 */

.conversation-panel {
    width: 50%;
    height: 78vh;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    background-color: rgba(0, 174, 255, 0.3);
    display: flex;
    flex-direction: column;
}


.conversation-panel .kakakotalk-header {
    flex-shrink: 0;
    width: 100%;
    margin: 0 auto;
    padding: 15px 20px;
    font-size: var(--font-30px);
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ccc;
}

.conversation-panel .kakakotalk-header .header-avatar {
    width: 75px;
    height: 75px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.kakaotalk-messages {
    flex-grow: 1;
    overflow-y: auto;

}

.kakaotalk-input-area {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    padding: 10px;
}

.kakaotalk-input-area #messages-text {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    border: 0;
    background: #fff;
}

.kakaotalk-input-area .btn {
    width: 10%;
    font-size: var(--font-14px);
    vertical-align: top;
    border: 0;
    background: #fae100;
    padding: 10px;
    border-radius: 7px;
    transition: filter 0.5s ease;
    cursor: pointer;
}


.kakaotalk-input-area .btn:hover {
    filter: brightness(110%);
}

.kakaotalk-message-row {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    gap: 15px;
}

.kakaotalk-message-row .message-content {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    gap: 15px;
}


.header-avatar,
.avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.message-content .sender-name {
    font-size: var(--font-18px);
    font-weight: 600;
}

.message-content .kakaotalk-bubble {
    padding: 5px 20px 8px;
    font-size: var(--font-18px);
    font-size: 600;
    background: #fff;
    border-radius: 1px 15px 15px 15px;
}


.message-content .kakaotalk-bubble a {
    color: #343a40;
    font-weight: 600;
    cursor: pointer;
    animation: bounce 3s infinite;
}


.kakaotalk-app-container.conversation-active .chat-list-panel {
    width: 45%;
}

.kakaotalk-app-container.conversation-active .conversation-panel {
    transform: translateX(0);
    opacity: 1;
}


/* 프로필 CSS */


.profile-wrap {
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.profile-intro {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

}

.profile-intro img {
    width: 100px;
    border-radius: 50%;
}

.profile-intro li:nth-of-type(2) {
    font-size: var(--font-22px);
    font-weight: 500;
    background: var(--color-sub1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 25px;
    border-radius: 20px;
}

.profile-link {
    width: 89%;
    margin-bottom: 30px;
    display: flex;
    justify-content: end;
    gap: 30px;

}

.profile-link li {
    background: #343a40;
    padding: 7px 20px 9px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.profile-link li a {
    font-family: "Roboto", "sans-serif";
    font-size: var(--font-24px);
    font-weight: 500;
    color: var(--color-sub1);
}


.profile-link li:hover {
    background: #495057;
}

.profile-main {
    width: 80%;
    height: 67vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile-main .visual img {
    width: 490px;
    height: 610px;
    border-radius: 20px;
}

.profile-introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.profile-introduction {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 1. 헤드라인과 자기소개 */
.profile-identity {
    margin-bottom: 20px;
}

.headline {
    font-size: var(--font-36px);
    font-weight: 700;
    margin-bottom: 10px;
}

.bio {
    font-size: var(--font-20px);
    padding-left: 30px;
    line-height: 1.6rem;
    color: #333;
}


/* 2. 기술 스택 */
.profile-tech {
    margin-bottom: 20px;
}

.tech-title {
    font-size: var(--font-20px);
    font-weight: 600;
    margin-bottom: 15px;
}

.tech-category.--frontend {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: var(--color-sub1);
    border-radius: 8px;
    margin-bottom: 10px;
    /* 아래 그리드와의 간격 */
}



.tech-sub-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}



/* 모든 카테고리에 공통으로 적용될 스타일 */
.tech-category {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: var(--color-sub1);
    border-radius: 8px;
}


.tech-category span {
    font-family: "Roboto", "sans-serif";
    font-size: var(--font-16px);
    font-weight: 600;
    width: 130px;
    flex-shrink: 0;
}

.tech-category img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    border-radius: 8px;
}

/* 3. GitHub 잔디 */
.profile-github {
    text-align: center;
}

.github-caption {
    font-size: var(--font-16px);
    margin-bottom: 16px;
    color: #444;
}

.profile-github img {
    width: 90%;
    object-fit: contain;
}