.wrap {
  overflow: hidden;
}

/* header */
header {
  border-bottom: 1px solid #000;
}
header .image {
  width: 30%;
}
header .image img {
  width: 320px;
  height: 360px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
header .head-main {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

header .head-title h2 {
  font-size: 6vw;
}
header .head-title dl {
  margin: 20px 0;
}

header .head-title dt {
  font-size: var(--font-30px);
  margin-bottom: 10px;
}

header .head-title dd {
  font-size: var(--font-16px);
}

/* contentArea (article) */
#contentArea {
  margin: 100px 0;
  padding: 0 5%;
  line-height: 1.7rem;
}

#contentArea section {
  margin: 50px 0;
  position: relative;
}

#contentArea .toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
}

#contentArea h3 {
  position: relative;
  font-size: 1.5em;
  padding: 20px 0;
}

#contentArea h3::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  bottom: 10px;
  transition: all 0.5s ease;
}
#contentArea .toggle-container {
  transition: height 0.35s ease-in-out;
  overflow: hidden;
}
#contentArea .toggle-container:not(.active) {
  display: none;
}
#contentArea .toggle-container dl {
  display: flex;
  column-gap: 5%;
  border-bottom: 1px solid #ddd;
  padding: 30px 0;
}
#contentArea .toggle-container dt {
  width: 30%;
  font-size: 1.2em;
  font-weight: 500;
}
#contentArea .toggle-container dd {
  width: 65%;
}
#contentArea .toggle-container dd a {
  display: block;
  word-break: break-all;
}
#contentArea .toggle-container dd span {
  display: block;
}

/* footer */
footer .footer_inner {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
footer .footer_inner p {
  font-weight: 100;
}
footer .footer_inner a {
  display: flex;
  color: #666;
  justify-content: center;
  margin: 20px 0;
  padding: 10px;
  overflow: hidden;
  transition: all 0.5s;
  align-items: center;
}
footer .footer_inner a:hover {
  color: #fff;
}
footer .footer_inner a i {
  transition: all 1s;
  font-size: 3em;
  margin: 0 10px;
}
footer .footer_inner a:hover i {
  color: #fff;
  transform: translateX(10px) translateY(-70px);
}

@media screen and (max-width: 1024px) {
  #contentArea .toggle-container dl {
    display: block;
  }
  #contentArea .toggle-container dt,
  #contentArea .toggle-container dd {
    width: auto;
  }
  #contentArea .toggle-container dt {
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 640px) {
  header .image {
    margin: 0 auto;
    width: 50%;
  }
  header .head_main {
    display: block;
    text-align: center;
  }
  header .head_ttl {
    margin: 30px 0;
  }
  header .head_ttl span {
    margin: 20px 0;
  }
}
