@charset "utf-8";

/* 전체 영역 */
#content .content_area {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}

#content .benefits_title,
#content .special_title,
#content .cooperative_title {
  text-align: center;
  margin-bottom: 50px;
}

#content .benefits_title h3,
#content .special_title h3,
#content .cooperative_title h3 {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: 700;
  position: relative;
}

#content .cooperative_title h3 span {
  position: relative;
}

#content .cooperative_title h3 span::before {
  content: "";
  width: 53px;
  height: 12px;
  position: absolute;
  top: 22px;
  left: 1%;
  z-index: -10;
  background: var(--font-color-main);
}

#content .benefits_title p,
#content .special_title p,
#content .cooperative_title p {
  font-size: 18px;
  color: #999;
  font-weight: 600;
}

/* 1. 최상의 협력 시스템 */
#content .cooperative_container {
  width: 90%;
  margin: 0 auto;
}

#content .cooperative_content {
  width: 100%;
  margin: 30px auto 0;
  text-align: center;
}

#content .cooperative_img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 30px;
}

#content .cooperative_img img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

#content .cooperative_content ul li > p {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0;
  color: var(--font-color-main);
  margin-bottom: 10px;
  background: var(--font-color-sub1);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#content .cooperative_content dl {
  margin-bottom: 20px;
  padding: 10px;
  background: var(--font-color-sub2);
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(1, 113, 33, 0.2);
}

#content .cooperative_content dt {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

#content .cooperative_content dd {
  font-size: 16px;
  color: #999;
}

/* 고객이 찾아 오는 새로움 */

#content .special_prize_container {
  width: 100%;
  margin: 230px auto 0;
}

#content .special_title h3 span {
  position: relative;
}

#content .special_title h3 span::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -1px;
  width: 35px;
  height: 12px;
  z-index: -10;
  background: var(--font-color-main);
}

#content .special_title h3::after {
  content: "";
  width: 4px;
  height: 100px;
  position: absolute;
  top: -160px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
  background: var(--font-color-main);
}

#content .special_prize_content {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

#content .prize_viewport {
  width: 100%;
  overflow: hidden;
}

#content .prize_img {
  width: 100%;
  display: flex;
  position: relative;
}

#content .prize_img img {
  width: 55%;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 10px;
}

#content .special_explanation {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

#content .special_explanation strong {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
}

#content .special_prize_content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#content .special_prize_content ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 1px 1px 15px rgba(231, 126, 45, 0.4);
  background: #fff;
  overflow: hidden;
}

#content .special_prize_content dl {
  padding: 20px;
  text-align: center;
}

#content .special_prize_content dl dt {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

#content .special_prize_content dl dd {
  font-size: 16px;
  line-height: 1.6rem;
  font-weight: 500;
  color: #999;
}

/* 차별화된 혜택 */
#content .benefits_container {
  width: 100%;
  margin: 250px auto 0;
}

#content .benefits_title h3 span {
  position: relative;
}

#content .benefits_title h3 span::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -4px;
  width: 35px;
  height: 12px;
  z-index: -2;
  background: var(--font-color-main);
}

#content .benefits_title h3::after {
  content: "";
  width: 4px;
  height: 100px;
  position: absolute;
  top: -170px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
  background: var(--font-color-main);
}

#content .benefits_content {
  width: 100%;
  margin: 0 auto;
}

#content .benefits_content .benefits_item {
  width: 75%;
  margin: 35px auto 0;
  position: relative;
  padding: 40px 15px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(1, 113, 33, 0.3);
}

#content .benefits_content .benefits_item img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#content .benefits_item::after {
  content: "Click! 자세한 내용을 보실 수 있습니다.";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 0 8px 20px;
  width: 250px;
  background: red;
  color: #fff;
  border-radius: 10px;
}

#content .benefits_item strong {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--font-color-point2);
  font-weight: 800;
  font-size: 22px;
}

/* 모달창 */

.is_hidden {
  display: none;
}

#modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

#modal_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 99%;
  max-height: 500px;
  overflow-y: auto;
  background-color: var(--font-color-sub2);
  border-radius: 20px;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.3);
  z-index: 101;
}

#modal_container .modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 30px;
  border-bottom: 3px solid rgba(1, 113, 33, 0.8);
}

#modal_container .modal_title {
  color: var(--font-color-main);
  font-size: 26px;
  font-weight: 500;
}

#modal_container #modal_close_btn {
  border: none;
  background: none;
  color: var(--font-color-point1);
  font-size: 30px;
}

#modal_container .modal_body {
  padding: 15px;
}

.benefit_card {
  background-color: rgba(250, 248, 245, 0.8);
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.card_icon i {
  color: var(--font-color-point2);
  font-size: 30px;
}

.benefit_card dl {
  position: relative;
  z-index: 100;
}

.benefit_card dt {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.benefit_card dd {
  line-height: 1.8rem;
}
