/* index css */

/* 더보기 버튼 공통 */
#content .more_btn {
  width: 40px;
  height: 40px;
  background: var(--font-color-main);
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

/* 비주얼 영역 */
.visual {
  position: relative;
  padding-bottom: 50px;
}

.visual .visual_swiper {
  width: 100%;
  height: auto;
  position: relative;
}

.visual_swiper .swiper-wrapper {
  display: flex;
}

.visual_swiper .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  text-align: center;
}

.visual_swiper li img {
  width: 100%;
  display: block;
}

.visual_text {
  position: absolute;
  top: 25%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 250;
  color: #fff;
  text-align: left;
  width: 100%;
}

.visual_text dt {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(30px);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 1s ease-in;
}

.visual_text dd {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  opacity: 0;
  transform: translateY(30px);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 1.2s ease-in;
}

.swiper-slide-active .visual_text dt,
.swiper-slide-active .visual_text dd {
  opacity: 1;
  transform: translateY(5px);
}

.swiper {
  width: 100%;
  height: auto;
}

.visual_swiper .swiper-pagination-bullet {
  background: var(--font-color-point2);
  width: 11px;
  height: 11px;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.visual_swiper .swiper-pagination-bullet-active {
  background: var(--font-color-main);
  width: 20px;
  border-radius: 10px;
  opacity: 1;
}

/* ------------------------------------------- */

/* MZ픽 레시피 */

#content .honey_recipe {
  width: 85%;
  position: relative;
  padding: 50px 0;
}

#content .honey_recipe_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}

#content .honey_recipe_title {
  text-align: left;
  margin-bottom: 40px;
  position: relative;
}

#content .honey_recipe_title h3 {
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 600;
  position: relative;
}

#content .honey_recipe_title h3::before {
  content: "";
  width: 110px;
  height: 13px;
  background: var(--font-color-main);
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -10;
}

#content .honey_recipe_title p {
  font-size: 20px;
  color: #666;
  line-height: 1.6rem;
}

#content .honey_recipe_swiper {
  width: 100%;
  overflow: hidden;
}

#content .honey_recipe_swiper .swiper-wrapper {
  padding: 5px 0;
}

#content .honey_recipe_swiper .swiper-slide {
  width: 100%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
}

/* 다음으로 이동하는 화살표 */
.honey_swiper_next {
  position: absolute;
  top: 35%;
  right: -80px;
  font-size: 50px;
  padding: 30px;
  font-weight: bold;
  cursor: pointer;
  color: var(--font-color-point1);
  z-index: 99;
}

/* 이미지 박스 */
#content .recipe_img_box {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#content .recipe_img_box img {
  width: 100%;
  border-radius: 0 15px 15px 0;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
}

/* 레시피 정보 영역 */
#content .recipe_info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 제목 */
#content .recipe_title span {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: var(--font-color-main);
  line-height: 1.5rem;
  white-space: nowrap;
  margin-bottom: 10px;
}

/*내용*/
#content .recipe_content span {
  display: block;
  font-size: 14px;
  color: #666;
  line-height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
}

#content .recipe_meta {
  color: var(--font-color-point2);
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  padding: 10px;
  border-top: 2px solid var(--font-color-point2);
}

#content .recipe_meta::before {
  content: "👤 ";
  margin-right: 4px;
}

#content .honey_recipe_more {
  position: absolute;
  top: 10px;
  right: -10%;
  z-index: 99;
}

/* ---------------------------------------------- */
/* 이달의 핫템 */
#content .new_product {
  width: 100%;
  position: relative;
  padding: 50px 0;
  background: linear-gradient(to bottom, #fff, var(--font-color-sub1));
  box-shadow: 1px 2px 20px rgba(240, 240, 242, 0.6);
}

#content .new_product_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}

.start_up_guide_swiper {
  width: auto;
  position: relative;
  overflow: visible;
}

#content .new_product_title {
  text-align: left;
  margin-bottom: 10px;
  position: relative;
}

#content .new_product_title h3 {
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

#content .new_product_title h3::before {
  content: "";
  width: 80px;
  height: 13px;
  background: var(--font-color-main);
  position: absolute;
  top: 40px;
  left: 130px;
  z-index: -10;
}

#content .new_product_title p {
  font-size: 14px;
  color: #666;
  line-height: 1rem;
}

#content .new_product_swiper {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}

#content .new_product_swiper .swiper-slide {
  width: 100%;
  height: auto;
}

#content .new_product_swiper .product_image_link {
  width: 100%;
  flex-shrink: 0;
}

#content .new_product_swiper .product_image_link img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#content .new_product_swiper .product_info {
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

#content .new_product_swiper .product_info dt {
  margin: 10px;
  font-size: 30px;
  font-weight: 700;
  color: var(--font-color-main);
}

#content .new_product_swiper .product_info dd {
  margin: 10px 20px;
  color: #666;
  min-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

#content .new_product_swiper .product_info dd:nth-of-type(2) {
  color: var(--font-color-point2);
  text-align: right;
  margin-right: 30px;
}

#content .new_product_swiper .swiper-slide-active .product_info {
  opacity: 1;
}

#content .new_product_swiper .swiper-pagination {
  width: auto;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.new_product_swiper .swiper-pagination-bullet {
  background: var(--font-color-point2);
  opacity: 0.5;
  transition: all 0.5s ease;
}

.new_product_swiper .swiper-pagination-bullet-active {
  background: var(--font-color-main);
  width: 20px;
  border-radius: 10px;
  opacity: 1;
}

#content .new_product_more {
  position: absolute;
  top: 10px;
  right: 5%;
  z-index: 99;
}

/* ------------------------------------------- */
/* 창업 설명 */

#content .start_up_guide {
  width: 100%;
  position: relative;
  padding: 50px 0;
  background: linear-gradient(to bottom, var(--font-color-sub2), #fff);
  box-shadow: 1px 2px 20px rgba(240, 240, 242, 0.6);
}

#content .start_up_guide_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}

#content .guide_text {
  text-align: left;
  margin-bottom: 40px;
  position: relative;
}

#content .guide_text h3,
#content .guide_text h4 {
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

#content .guide_content h3::before {
  content: "";
  width: 160px;
  height: 13px;
  background: var(--font-color-main);
  position: absolute;
  top: 95px;
  left: 0;
  z-index: -10;
}

#content .point_content h4::before {
  content: "";
  width: 250px;
  height: 13px;
  background: var(--font-color-main);
  position: absolute;
  top: 95px;
  left: 0;
  z-index: -10;
}

#content .consultation_content h4::before {
  content: "";
  width: 110px;
  height: 13px;
  background: var(--font-color-main);
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -10;
}

#content .session_content h4::before {
  content: "";
  width: 193px;
  height: 13px;
  background: var(--font-color-main);
  position: absolute;
  top: 95px;
  left: 0;
  z-index: -10;
}

#content .guide_text p {
  font-size: 20px;
  color: #666;
  line-height: 2.3rem;
  padding-left: 15px;
  margin-bottom: 15px;
  font-weight: 600;
}

#content .start_up_guide .guide_image {
  width: 100%;
}

#content .start_up_guide .guide_image img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#content .guide .start_up_guide_more {
  position: absolute;
  top: 65px;
  right: 5%;
  z-index: 99;
}

#content .start_up_guide_more {
  position: absolute;
  top: 12px;
  right: 5%;
  z-index: 99;
}

.start_up_guide_swiper .swiper-pagination-bullet,
.eleven_story_swiper .swiper-pagination-bullet {
  background: var(--font-color-point2);
  opacity: 0.5;
  transition: all 0.5s ease;
}

.start_up_guide_swiper .swiper-pagination-bullet-active,
.eleven_story_swiper .swiper-pagination-bullet-active {
  background: var(--font-color-main);
  width: 20px;
  border-radius: 10px;
  opacity: 1;
}

/* --------------------------------------------- */
/* 세븐일레븐 스토리 */

#content .eleven_story {
  width: 100%;
  position: relative;
  margin: 50px auto;
}

#content .eleven_story_container {
  width: 100%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: visible;
}

.start_up_guide_swiper {
  width: auto;
  position: relative;
  overflow: visible;
}

#content .eleven_story_title {
  text-align: left;
  margin-bottom: 40px;
  position: relative;
}

#content .eleven_story_title h3 {
  font-size: 38px;
  margin-bottom: 15px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

#content .eleven_story_title h3::before {
  content: "";
  width: 180px;
  height: 13px;
  background: var(--font-color-main);
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -10;
}

#content .eleven_story_title p {
  font-size: 18px;
  color: #666;
  line-height: 1.6rem;
}

#content .eleven_story_content ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1%;
}

#content .eleven_story_content li {
  width: 27%;
  margin-bottom: 10px;
}

#content .eleven_story_content li img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* 모달창 */
.main_modal_box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 250;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.main_modal_box.active {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.main_popup_content {
  width: 85%;
  max-width: 380px;
  background: #fff;
  border: 2px solid var(--font-color-main);
  border-radius: 20px;
  padding: 0 10px;
  text-align: center;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.5s ease;
}

.main_modal_box.active .main_popup_content {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.main_popup_content .fa-triangle-exclamation {
  font-size: 40px;
  color: var(--font-color-point1);
  margin-bottom: 15px;
}

.main_popup_content p {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  margin: 30px;
  color: #333;
}

.main_popup_content .buttons {
  display: flex;
}

.main_popup_content .buttons a {
  flex: 1;
  padding: 20px 0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.modal_close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #999;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons .youtube {
  color: var(--font-color-main);
}

.buttons .story {
  color: var(--font-color-point1);
}
