

/* 오시는길 */

#content .content_area {
  width: 1300px;
  height: 650px;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid var(--font-color-main);
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#content .company_info {
  width: 800px;
  margin: 50px auto;
  padding: 40px;
}

#content .company_info > p {
  font-size: var(--font-size-no8);
  margin-bottom: 30px;
}

.company_info strong {
  color: var(--font-color-main);
}

#content .basic_info {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  border-bottom: 2px solid var(--font-color-sub1);
}

#content .transport_info > p {
  margin-top: 30px;
}

#content .bus_info {
  display: flex;
  gap: 30px;
}
#content .transport_info dl {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#content .bus_info dl {
  display: flex;
  gap: 20px;
}

#content .bus_info dt {
  display: flex;
  font-weight: 600;
  color: var(--font-color-point2);
}

.basic_info > dt,
.transport_info > p,
.bus_info > p {
  font-size: var(--font-size-no10);
  margin-bottom: 15px;
  padding-left: 10px;
  border-left: 4px solid var(--font-color-point2);
}
