@charset "utf-8";

#content .content_area {
	width: 1600px;
	min-height: 800px;
	position: relative;
	z-index: 1;
	margin: 0 auto;
}

#content .content_area::after {
	content: "";
	position: absolute;
	top: 300px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 4px;
	height: 3900px;
	background: rgba(1, 113, 33, 0.8);
}

.procedures_nav {
	margin-top: 100px;
}

.procedures_nav ul {
	width: 1600px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.05);
	gap: 5px;
	font-size: var(--font-size-no10);
	/*22px*/
}

.procedures_nav ul li {
	width: 12%;
	box-sizing: border-box;
	text-align: center;
	transition: all 0.3s ease;
}

.procedures_nav ul li a {
	border-radius: 10px;
	font-weight: 500;
	padding: 15px 25px;
	transition: all 0.3s ease;
}

.procedures_nav ul li a:hover {
	background: rgba(217, 38, 41, 0.8);
	color: #fff;
}

.procedures_nav.fixed {
	position: fixed;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 10;
	background: #fff;
	box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
	font-size: var(--font-size-no10);
	border-radius: 10px;
}

.procedures_nav.fixed a {
	padding: 10px 25px;
}

.procedures_nav ul li.on a {
	background: rgba(217, 38, 41, 0.8);
	color: #fff;
}

.timeline_wrapper {
	display: flex;
	position: relative;
	padding: 50px 0;
}

.icon_area ul li {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	height: 120px;
	margin: 0 auto 250px;
	border-radius: 50%;
	background-image: url(../images/content2/ico_info_circle.png);
	background-repeat: no-repeat;
	border: 3px solid rgba(217, 38, 41, 0.8);
	background-size: 100% auto;
	transition: all 0.5s ease;
	z-index: 1;
}

.icon_area ul li:nth-of-type(1) {
	top: 245px;
	background-position: 0 -3218px;
}

.icon_area ul li:nth-of-type(2) {
	top: 690px;
	background-position: 0 0;
}

.icon_area ul li:nth-of-type(3) {
	top: 1210px;
	background-position: 0 -2941px;
}

.icon_area ul li:nth-of-type(4) {
	top: 1750px;
	background-position: 0 -3760px;
}

.icon_area ul li:nth-of-type(5) {
	top: 2310px;
	background-position: 0 -497px;
}

.icon_area ul li:nth-of-type(6) {
	top: 2840px;
	background-position: 0 -2586px;
}

.icon_area ul li:nth-of-type(7) {
	top: 3260px;
	background-position: 0 -237px;
}

.icon_area ul li:nth-of-type(8) {
	top: 3700px;
	background-position: 0 -3490px;
}

.icon_area ul li:nth-of-type(9) {
	top: 4125px;
	background-position: 0 -1946px;
}

.icon_area ul li i {
	font-size: var(--font-size-no7);
	/*30px*/
	color: var(--font-color-sub2);
	transition: color 0.4s, transform 0.4s;
}

.description_area {
	width: 1400px;
	margin: 100px auto;
}

.train_order_content {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.train_order_content div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30%;
	margin-bottom: 100px;
}

.train_order_content div h4 {
	width: 40%;
	text-align: left;
	font-size: var(--font-size-no7);
	/*30px*/
	font-weight: 700;
	margin-left: 100px;
	color: rgba(1, 113, 33, 0.8);
}

.train_order_content div p,
.train_order_content div ul {
	padding: 40px;
	width: 55%;
	border-radius: 20px;
	border: 3px solid rgba(217, 38, 41, 0.8);
	background: var(--font-color-sub2);
	box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}

.description_item {
	font-size: var(--font-size-no12);
	/*18px*/
	font-weight: 500;
	margin-bottom: 15px;
	line-height: 1.9rem;
	letter-spacing: 0.05rem;
	position: relative;
}

.description_item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 90px;
	background: rgba(217, 38, 41, 0.8);
	color: var(--font-color-sub2);
	padding: 3px 13px;
	font-size: 14px;
	font-weight: 700;
	border-radius: 20px 20px 0 20px;
}

.description_item::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 90px;
	padding: 3px 13px;
	font-size: 15px;
	background: #fff;
	font-weight: 700;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
}

.train_order_content #desc2::before {
	content: "STEP 01";
	top: 65px;
}

.train_order_content #desc2::after {
	content: "Start";
	bottom: 50px;
}

.train_order_content #desc3::before {
	content: "STEP 02";
	top: 125px;
}

.train_order_content #desc3::after {
	content: "D-30";
	bottom: 120px;
}

.train_order_content #desc4::before {
	content: "STEP 03";
	top: 120px;
}

.train_order_content #desc4::after {
	content: "D-29";
	bottom: 110px;
}

.train_order_content #desc5::before {
	content: "STEP 04";
	top: 140px;
}

.train_order_content #desc5::after {
	content: "D-29~15";
	bottom: 130px;
}

.train_order_content #desc6::before {
	content: "STEP 05";
	top: 165px;
}

.train_order_content #desc6::after {
	content: "D-14";
	bottom: 155px;
}

.train_order_content #desc7::before {
	content: "STEP 06";
	top: 100px;
}

.train_order_content #desc7::after {
	content: "D-14~7";
	bottom: 100px;
}

.train_order_content #desc8::before {
	content: "STEP 07";
	top: 35px;
}

.train_order_content #desc8::after {
	content: "D-11";
	bottom: 30px;
}

.train_order_content #desc9::before {
	content: "STEP 08";
	top: 150px;
}

.train_order_content #desc9::after {
	content: "D-2~1";
	bottom: 140px;
}

.train_order_content #desc10::before {
	content: "STEP 09";
	top: 15px;
}

.train_order_content #desc10::after {
	content: "D-2~1";
	left: -9999px;
}

.train_order_content div ul li a {
	margin-top: 20px;
	padding: 10px;
	border-radius: 25px;
	text-align: center;
	background: var(--font-color-point1);
	color: var(--font-color-sub1);
	font-size: var(--font-size-no11);
	/*20px*/
	font-weight: 500;
	transition: all 0.3s ease;
}

.train_order_content div ul li a:hover {
	background: var(--font-color-main);
	transform: translateY(3px);
	box-shadow: 0 10px 20px rgba(217, 38, 41, 0.3);
}

#desc9>div {
	position: relative;
}

#desc9 img {
	width: 430px;
	border: 3px solid rgba(217, 38, 41, 0.8);
	margin-left: 70px;
	border-radius: 25px;
	margin-top: 70px;
}

.image_caption {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-top: 15px;
	font-weight: 600;
	background: #fff;
	padding: 3px 10px;
	border-radius: 10px;
	border: 3px solid rgba(217, 38, 41, 0.8);
}