#content .content_area {
	width: 100%;
	padding: 20px 0;
	padding-bottom: 200px;
}

.suggestion_container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}



.suggestion_image {
	width: 79%;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
	margin-bottom: 30px;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 80%;
}

.swiper-slide img {
	display: block;
	width: 100%;
	border-radius: 15px;
}

/* Swiper Navigation and Pagination custom styles */
.swiper-button-next,
.swiper-button-prev {
	color: var(--font-color-main) !important;
	font-weight: 900 !important;
}

.swiper-pagination-bullet-active {
	background: var(--font-color-main) !important;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: 0.5s ease;
	background-color: rgba(0, 0, 0, 0.65);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.overlay .text {
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	padding: 20px;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}



#content .email_box {
	width: 100%;
	padding: 40px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

#content .email_box div {
	padding: 15px 0;
}

#content .email_box label,
#content .agree_title {
	display: block;
	margin-bottom: 8px;
	font-size: 1.1rem;
	font-weight: 600;
	color: #333;
}

#content .email_box input,
#content .email_box textarea {
	width: 100%;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background: #fff;
	font-size: 1rem;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

#content .email_box input:focus,
#content .email_box textarea:focus {
	border-color: #017121;
	box-shadow: 1px 1px 8px rgba(1, 113, 33, 0.2);
	outline: none;
}

#content .email_box textarea {
	height: 300px;
	resize: vertical;
}

#content .agree_checkbox {
	width: 100%;
	height: 120px;
	line-height: 1.8rem;
	font-weight: 500;
	border: 1px solid #eee;
	border-radius: 15px;
	overflow-y: auto;
	background: #fff;
}

#content .agree_checkbox dl {
	padding-left: 20px;
}

#content .consent-checkbox {
	display: flex;
	margin-top: 20px;
}

.consent-checkbox input[type="checkbox"] {
	width: 20px !important;
	height: 20px;
	margin-right: 10px;
	accent-color: var(--font-color-main);
}

#content .email_box button {
	width: 100%;
	padding: 18px;
	border-radius: 8px;
	color: #fff;
	font-size: 1.1rem;
	font-weight: 700;
	background: #d92629;
	margin-top: 20px;
	cursor: pointer;
	border: none;
	transition: background-color 0.3s ease;
}

#content .email_box button:hover {
	background: #e77e2d;
}