
#content .content_area {
	width: 1400px;
	margin: 0 auto;
	padding-bottom: 150px;
}

#content .history_nav {
	width: 1400px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 50px;
}

#content .history_nav ul {
	display: flex;
	gap: 10px;
	border-radius: 25px;
	box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
}

#content .history_nav li {
	width: 20%;
	box-sizing: border-box;
	text-align: center;
	transition: all 0.3s ease;
}

#content .history_nav li a {
	font-size: var(--font-size-no11);
	border-radius: 15px;
	font-weight: 500;
	padding: 7px 15px;
	transition: all 0.3s ease;
}

#content .history_nav ul li a:hover {
	background: rgba(217, 38, 41, 1);
	color: var(--font-color-sub2);
}

#content .history_nav.fixed {
	width: 100%;
	position: fixed;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	background: #fff;
	z-index: 100;
	box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}

#content .history_nav.fixed a {
	padding: 13px 0;
}

#content .history_nav li.on a {
	background: rgba(217, 38, 41, 0.9);
	color: var(--font-color-sub2);
}

#content .company_history {
	width: 100%;
	position: relative;
	margin: 0 auto;
}

#content .company_history::before {
	content: "";
	position: absolute;
	width: 3px;
	height: 100%;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	background: var(--font-color-point1);
}

#content .company_history ul {
	display: flex;
	flex-direction: column;
	gap: 150px;
}

#content .company_history span {
	color: var(--font-color-main);
}

#content .company_history dt {
	font-size: var(--font-size-no6);
	color: var(--font-color-point2);
	font-weight: 700;
	line-height: 10rem;
}

#content .company_history dd {
	font-size: var(--font-size-no11);
	text-indent: 2px;
	font-weight: 600;
	line-height: 3rem;
}

#content .history_2020::after,
#content .history_2010::after,
#content .history_2000::after,
#content .history_1990::after,
#content .history_1980::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--font-color-point1);
}

#content .history_2020::after {
	top: 67px;
}

#content .history_2010::after {
	top: 2442px;
}

#content .history_2000::after {
	bottom: 1598px;
}

#content .history_1990::after {
	bottom: 902px;
}

#content .history_1980::after {
	bottom: 210px;
}

#content .history_2020 {
	width: 60%;
	margin-left: 55%;
	text-align: left;
}

#content .history_2010 {
	text-align: left;
	width: 50%;
	margin-left: -3%;
}

#content .history_2000 {
	text-align: left;
	width: 50%;
	margin-left: 55%;
}

#content .history_1990 {
	text-align: left;
	width: 50%;
	margin-left: 0%;
}

#content .history_1980 {
	text-align: left;
	width: 50%;
	margin-left: 55%;
}

#content .h1990_s img,
#content .h1990_s img,
#content .h2000_s img,
#content .h2010_s img,
#content .h2020_s img {
	max-width: 500px;
	max-height: 450px;
	border-radius: 15px;
}

#content .h1980_s p,
#content .h1990_s p,
#content .h2000_s p,
#content .h2010_s p,
#content .h2020_s p {
	font-size: var(--font-size-no11);
	color: var(--font-color-main);
	text-align: center;
	margin-bottom: 15px;
	font-weight: 700;
}

#content .h1980_s {
	position: absolute;
	bottom: -20px;
	left: 0%;
}

#content .h1990_s {
	position: absolute;
	bottom: 487px;
	right: 1%;
}

#content .h2000_s {
	position: absolute;
	bottom: 1185px;
	left: 0;
}

#content .h2010_s {
	position: absolute;
	bottom: 1910px;
	right: 0%;
}

#content .h2020_s ul,
#content .h2010_s ul {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

#content .h2020_s {
	position: absolute;
	top: 135px;
	left: 0%;
}
